# Recommender Systems by Group 8 in CSDA1040 Class Fall 2019

Work is based on [Movie Recommender Systems on Kaggle](https://www.kaggle.com/rounakbanik/movie-recommender-systems) with modification to codebase for fixes, clarifications and adaptation for DASH app.

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet

#Recommender System Library surprise
from surprise import Dataset, SVD
from surprise import Reader

from surprise.model_selection import cross_validate

from collections import defaultdict


# depreciated
# from surprise import evaluate

In [2]:
# reading csv from movie.ipynb output for a cleaned csv based on movies_metadata.csv
md = pd.read_csv('../input/movies_cleaned.csv')
md.head()

,Unnamed: 0,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"['Animation', 'Comedy', 'Family']",http://toystory.disney.com/toy-story,862,NaN,en,Toy Story,...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,1,False,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",NaN,8844,NaN,en,Jumanji,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"['Romance', 'Comedy']",NaN,15602,NaN,en,Grumpier Old Men,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,3,False,NaN,16000000.0,"['Comedy', 'Drama', 'Romance']",NaN,31357,NaN,en,Waiting to Exhale,...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,['Comedy'],NaN,11862,NaN,en,Father of the Bride Part II,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

## A Simple Top Movies Listing based on different genres
From the previous study, we are able to summarize all movies into 32 different genres. By feeding build_top_chart function for different genres, we are able to pull out movies with top vote_average. Then, we filter out those that are more trust worthy ones (where movies that have vote counts in the upper 0.05% (or above 99.95%) quantile and show it to end_user

In [3]:
import re

def get_top_chart_by_genre(genre, quantile=0.995):
    qualified_df = md[md['vote_count'] > md['vote_count'].quantile(quantile)].sort_values('vote_average', ascending=False)
    genre_filtered_df = qualified_df['genres'].str.contains(genre, flags=re.IGNORECASE, regex=True)
    if genre != '':
        # return qualified_df[genre_filtered_df]
        return qualified_df[genre_filtered_df].index
    else:
        # return qualified_df
        return qualified_df.index

In [4]:
idx = get_top_chart_by_genre('')
# idx.shape
qf_df = md[md.index.isin(idx)]
qf_df[['title', 'release_date', 'vote_average', 'vote_count' ]].sort_values('vote_average', ascending=False).head(10)

                          title release_date  vote_average  vote_count
828               The Godfather   1972-03-14           8.5      6024.0
313    The Shawshank Redemption   1994-09-23           8.5      8358.0
521            Schindler's List   1993-11-29           8.3      4436.0
12421           The Dark Knight   2008-07-16           8.3     12269.0
2198          Life Is Beautiful   1997-12-20           8.3      3643.0
2828                 Fight Club   1999-10-15           8.3      9678.0
23496                  Whiplash   2014-10-10           8.3      4376.0
291                Pulp Fiction   1994-09-10           8.3      8670.0
5453              Spirited Away   2001-07-20           8.3      3968.0
350                Forrest Gump   1994-07-06           8.2      8147.0

In [5]:
idx = get_top_chart_by_genre('Romance')
# idx.shape
qf_df = md[md.index.isin(idx)]
qf_df[['title', 'release_date', 'vote_average', 'vote_count' ]].sort_values('vote_average', ascending=False).head(10)

,title,release_date,vote_average,vote_count
350,Forrest Gump,1994-07-06,8.2,8147.0
7168,Eternal Sunshine of the Spotless Mind,2004-03-19,7.9,3758.0
22003,Her,2013-12-18,7.9,4215.0
40458,La La Land,2016-11-29,7.9,4745.0
23337,The Fault in Our Stars,2014-05-16,7.6,3868.0
1628,Titanic,1997-11-18,7.5,7770.0
2165,Edward Scissorhands,1990-12-05,7.5,3731.0
580,Aladdin,1992-11-25,7.4,3495.0
20762,The Great Gatsby,2013-05-10,7.3,3885.0
19598,Silver Linings Playbook,2012-09-08,7.0,4840.0

## Content Based Recommender System
The previous method can only show top rated movies by all voters. However, we want something that is tailored to an individual user. We will try different ways to recommend movies to our end users. First, we will try to find movies that are similiar.

## Recommender System based on text mining of Movie Descriptor 
We will try to suggest movies based on keywords from the descriptive text provided in the database, and we will use this info to find the best match for end user.

In [6]:
md['tagline'] = md['tagline'].fillna('')
md['overview'] = md['overview'].fillna('')
md['keywords'] = md['tagline'] + ' ' + md['overview']

In [7]:
# We build a Term Frequency (TF)-Inverse Data Frequency (IDF) summary of keywords using scikit-learn library
# https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html

vectorizer = TfidfVectorizer(analyzer='word', ngram_range=(1, 2),min_df=0, stop_words='english')
X = vectorizer.fit_transform(md['keywords'])

# Show TF-IDF Vectorizer properties
# print('Shape: ')
# print(X.shape)
# print('Feature Names: ')
# print(vectorizer.get_feature_names())

# Next We build a lookup matrix that share similarity score for all movies title in the database
cosine_similarity = linear_kernel(X,X)
# showing cosine_similiarty characteristics
# cosine_similarity.shape

In [8]:

def get_recommended_movies_by_title(title, n=30):
    #a = md.index[md['Title'] == 'The Godfather']
    a = md[md['title'] == title]
    if a.empty:
        #print('Is Empty')
        return []
    else:
        # print('Found Title')
        # print(a.index)
        
        b = a.index.astype('int')
        # print(b)
        
        # slice the cosine_similiarity matrix for this specific title
        c = cosine_similarity[b]
        d = c.tolist()
        e = list(*d)
        f = list(enumerate(e))
        g = sorted(f, key=lambda x:x[1], reverse=True)
        g = g[1:n+1]
        movies_id = [x[0] for x in g]
        return movies_id

In [9]:
movie_lst = get_recommended_movies_by_title('Family Business')
rec_df = md[md.index.isin(movie_lst)]
rec_df.head(3)

,Unnamed: 0,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords
795,801,False,NaN,0.0,"['Comedy', 'Foreign']",NaN,9098,NaN,de,Echte Kerle,...,0.0,100.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,Macho cop finds himself in a relationship with...,Regular Guys,False,5.2,9.0,Macho cop finds himself in a relationship with...
3909,3928,False,"{'id': 107469, 'name': 'Save The Last Dance Co...",13000000.0,"['Drama', 'Family', 'Romance', 'Music']",NaN,9816,NaN,en,Save the Last Dance,...,91038276.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Only Person You Need To Be Is Yourself.,Save the Last Dance,False,6.3,359.0,The Only Person You Need To Be Is Yourself. A ...
3984,4004,False,NaN,0.0,"['Comedy', 'Fantasy']",NaN,2608,NaN,en,Maid to Order,...,9868521.0,93.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,She was raised in a Beverly Hills mansion. Now...,Maid to Order,False,5.2,17.0,She was raised in a Beverly Hills mansion. Now...

In [10]:
movie_lst = get_recommended_movies_by_title('Batman Forever')
rec_df = md[md.index.isin(movie_lst)]
rec_df.head(3)

,Unnamed: 0,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,keywords
584,585,False,"{'id': 120794, 'name': 'Batman Collection', 'p...",35000000.0,"['Fantasy', 'Action']",NaN,268,NaN,en,Batman,...,411348924.0,126.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Have you ever danced with the devil in the pal...,Batman,False,7.0,2145.0,Have you ever danced with the devil in the pal...
1321,1328,False,"{'id': 120794, 'name': 'Batman Collection', 'p...",80000000.0,"['Action', 'Fantasy']",NaN,364,NaN,en,Batman Returns,...,280000000.0,126.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The Bat, the Cat, the Penguin.",Batman Returns,False,6.6,1706.0,"The Bat, the Cat, the Penguin. Having defeated..."
1482,1491,False,"{'id': 120794, 'name': 'Batman Collection', 'p...",125000000.0,"['Action', 'Crime', 'Fantasy']",NaN,415,NaN,en,Batman & Robin,...,238207122.0,125.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Strength. Courage. Honor. And loyalty.,Batman & Robin,False,4.2,1447.0,Strength. Courage. Honor. And loyalty. Along w...

## Collaborative Filtering

[Surprise - FAQ How to get the top-N recommendations for each user](https://surprise.readthedocs.io/en/stable/FAQ.html#how-to-get-the-top-n-recommendations-for-each-user)

In [11]:
# rating_df = pd.read_csv('../input/ratings_small.csv')
rating_df = pd.read_csv('../input/ratings_small.csv')
reader = Reader()
algo = SVD()

# The columns must correspond to user id, item id and ratings (in that order).
data = Dataset.load_from_df(rating_df[['userId', 'movieId', 'rating']], reader)

# We can now use this dataset as we please, e.g. calling cross_validate
trainset = data.build_full_trainset()
algo.fit(trainset)

testset = trainset.build_anti_testset()
predictions = algo.test(testset)

In [12]:
# We can now use this dataset as we please, e.g. calling cross_validate
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8984  0.8965  0.8918  0.8994  0.8954  0.8963  0.0027
MAE (testset)     0.6891  0.6907  0.6882  0.6912  0.6903  0.6899  0.0011
Fit time          3.60    3.63    3.64    3.63    3.63    3.63    0.01
Test time         0.11    0.10    0.10    0.10    0.10    0.10    0.00

{'test_rmse': array([0.89840585, 0.89653512, 0.89176526, 0.89940498, 0.89537261]),
 'test_mae': array([0.68913586, 0.69066048, 0.68815402, 0.69123848, 0.6902898 ]),
 'fit_time': (3.603806972503662,
  3.628370761871338,
  3.642861843109131,
  3.634511947631836,
  3.630908250808716),
 'test_time': (0.10542988777160645,
  0.10388422012329102,
  0.10273623466491699,
  0.10292220115661621,
  0.10204815864562988)}

In [13]:
from surprise.model_selection import KFold
from surprise import accuracy

kf = KFold(n_splits=3)

for trainset, testset in kf.split(data):

    # train and test algorithm.
    algo.fit(trainset)
    predictions = algo.test(testset)

    # Compute and print Root Mean Squared Error
    accuracy.rmse(predictions, verbose=True)

RMSE: 0.9088
RMSE: 0.9005
RMSE: 0.9035

In [14]:
def get_top_n(predictions, n=10):
    '''Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    '''

    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [15]:
top_n = get_top_n(predictions, n=10)

# Print the recommended items for each user
for uid, user_ratings in top_n.items():
    print(uid, [iid for (iid, _) in user_ratings])

2, 2905, 720, 2678, 215, 4271, 117, 3718, 4278, 334]
159 [296, 2959, 4226, 4973, 913, 1136, 260, 2858, 1198, 2329]
649 [307, 593, 527, 457, 319, 235, 364, 293, 32, 417]
96 [908, 923, 50, 912, 969, 1212, 56367, 527, 48394, 7361]
270 [50, 4226, 7361, 56367, 1704, 48780, 109487, 48516, 79132, 4973]
174 [1094, 1380, 342, 48]
395 [110, 3471, 2916, 2640, 2023, 1206, 2240]
621 [4993, 1136, 1704, 356, 3671, 2918, 8961, 2571, 914, 3101]
168 [296, 912, 589, 32, 110, 150, 924, 509, 1, 514]
532 [5952, 6377, 1097, 1262, 110, 733, 2268, 5377, 480, 2151]
576 [260, 2571, 1036, 1960, 1270, 1249, 1537, 4034, 480, 2006]
192 [527, 356, 457, 551, 364, 595, 474, 316, 2, 587]
402 [858, 1196, 1035, 1198, 78499, 31658, 5618, 5952, 6539, 76093]
94 [7153, 2692, 1233, 55820, 78499, 1222, 50, 110, 858, 6016]
617 [527, 1225, 457, 919, 356, 2572, 1784, 1387, 480, 1997]
562 [50, 527, 778, 1210, 44191, 1213, 4993, 5989, 3578, 4306]
569 [913, 912, 908, 1225, 1358, 1247, 2359, 920, 2804, 931]
615 [593, 2858, 7502, 58559, 134853, 5989, 4878, 1136, 4226, 6807]
671 [4993, 260, 2396, 1197, 1291, 1, 2918, 4886, 457, 4011]
158 [3386, 54286, 319, 60293, 62956, 2004, 481, 2412, 327]
211 [778, 969, 1225, 1617, 1270, 1625, 32, 728, 595, 1527]
500 [1207, 56367, 1704, 6942, 4993, 919, 5989, 2571, 4973, 7361]
35 [1267, 2289, 3072, 1047, 24]
134 [2692, 4226, 1208, 296, 2858, 541, 1233, 1136, 1259, 2571]
597 [1196, 904, 2064, 1732, 1267, 1212, 1, 1215, 2467, 1178]
385 [318, 608, 161, 265, 16, 356, 36, 110, 457, 6]
455 [296, 2502, 1060, 1, 3147, 356, 364, 377, 145, 736]
592 [1356, 1148, 1291, 3175, 1954, 4299, 1200, 165, 349, 3397]
131 [2692, 356, 2762, 1176, 1959, 3852, 4034, 728, 2628, 2688]
456 [260, 593, 5618, 44191, 31658, 79132, 1198, 6874, 5903, 5952]
177 [593, 47, 50, 1148, 1097, 1136, 608, 1235, 2144, 1356]
626 [593, 1682, 2858, 2976, 2761, 3578, 2288, 1968, 2997, 2718]
612 [1136, 80463, 40815, 1682, 2502, 50872, 74458, 1097, 1246, 2918]
300 [2858, 593, 260, 1291, 1210, 3147, 110, 3471, 1625, 589]
453 [589, 3000, 1097, 1573, 1396, 1527, 1100, 1687, 736, 303]
278 [1252, 908, 296, 1225, 2064, 1960, 2973, 923, 750, 2396]
577 [858, 541, 912, 1198, 1210, 7361, 2571, 953, 4993, 260]
416 [296, 593, 589, 150, 353, 39, 349, 780, 594, 592]
488 [4993, 1136, 5995, 7361, 7153, 319, 5952, 293, 1103, 1357]
527 [260, 1259, 778, 1293, 36, 1197, 1136, 1704, 1291, 2028]
610 [8874, 5989, 56367, 55820, 49530, 5995, 57669, 38038, 5225, 538]
196 [3703, 3072, 2712, 3102, 3702, 2762, 3681, 261, 3510, 3654]
430 [4993, 1196, 318, 1193, 4878, 2324, 593, 1617, 4973, 6874]
178 [2959, 899, 951, 1208, 1704, 1228, 3578, 99114, 1247, 1968]
641 [32, 296, 1366, 1057, 837, 219, 986, 224, 113, 514]
397 [5971, 65261, 2761, 8961, 68954, 26776, 69481, 71838, 6283, 3267]
29 [778, 58559, 2065, 6365, 73268, 2384, 2717, 2713]
541 [923, 2762, 356, 3175, 3219, 2693, 2657, 785, 2840, 2628]
34 [2064, 858, 1193, 1208, 750, 1259, 1213, 527, 260, 1240]
666 [527, 356, 457, 590, 6, 539, 587, 39, 597, 165]
191 [380, 588, 231, 592, 165, 185, 344]
419 [2959, 6539, 3481, 1, 3408, 1784, 5876, 2321, 1641, 4886]
182 [457, 62, 594, 838, 1084, 13, 508, 616, 224, 587]
506 [858, 376, 1059, 780, 788, 724, 1391]
450 [57669, 2692, 2019, 608, 1617, 296, 908, 4027, 7361, 61323]
12 [2959, 529, 2529, 3408, 3794, 1374, 1639, 3809, 3791, 3885]
339 [2692, 2571, 260, 5952, 1036, 70286, 7153, 3006, 2028, 2273]
599 [78499, 745, 4973, 2918, 1251, 56367, 81847, 88125, 80906, 2291]
558 [1299, 3578, 4226, 2858, 2300, 858, 1952, 1080, 2599, 1256]
432 [318, 50, 5995, 4235, 48780, 2502, 293, 1258, 5418, 4034]
117 [527, 2324, 1957, 1674, 1235, 215, 1185, 1271, 81845, 73023]
282 [318, 1197, 1270, 4995, 457, 1210, 356, 5952, 1641, 4306]
273 [296, 4878, 1197, 51255, 1210, 2762, 115617, 8874, 73017, 6874]
556 [593, 590, 474, 349, 364, 231, 434, 344, 208]
223 [608, 260, 36, 32, 6, 113, 62, 86, 613, 802]
102 [593, 1719, 1208, 2300, 541, 2064, 50, 1197, 608, 1256]
202 [318, 296, 1304, 1953, 1210, 1333, 1997, 3412, 4008, 3701]
190 [2858, 2692, 2580, 2070, 2310, 785, 2686, 2987, 2390, 1097]
458 [5952, 858, 527, 1089, 2571, 1265, 1270, 1097, 1214, 3578]
118 [913, 50, 1212, 1276, 593, 922, 904, 750, 1219, 3543]
428 [50, 58559, 1208, 1259, 589, 2959, 4995, 1201, 919, 2324]
154 [1, 62, 52, 648, 1405, 711, 708, 107, 806, 673]
559 [260, 1196, 541, 608, 1276, 1247, 1952, 2081, 1198, 1500]
263 [2019, 2959, 318, 1267, 593, 110, 1617, 1222, 4995, 1784]
422 [1213, 1060, 2324, 1223, 1265, 296, 2712, 3418, 36, 2028]
555 [296, 527, 497, 50, 306, 260, 509, 535, 308, 154]
21 [912, 1148, 899, 1217, 1196, 260, 593, 1079, 1252, 923]
655 [4993, 5952, 50, 2571, 1198, 1197, 1270, 296, 1291, 6539]
80 [608, 16, 25, 141, 191, 802, 20, 46, 610, 105]
207 [914, 3256, 69122, 431, 69757, 72209, 59834, 70121, 779, 333]
520 [1221, 4993, 1210, 1247, 111, 47, 1213, 1060, 475, 1198]
425 [593, 4993, 4226, 2959, 2329, 5952, 1200, 1210, 7263, 4327]
528 [858, 908, 296, 111, 899, 608, 2542, 50, 1278, 1196]
58 [969, 2791, 1225, 1927, 940, 3510, 3153, 3070, 1917, 2180]
494 [260, 1193, 318, 527, 1210, 1704, 1267, 68157, 44191, 296]
467 [1213, 608, 928, 1704, 2580, 2997, 2165, 2396, 2762, 2725]
625 [112552, 1197, 68358, 134853, 109374, 110102, 88744, 81591, 115713, 74458]
241 [50, 235, 261, 194, 555, 589, 223, 36, 509, 780]
394 [296, 246, 1221, 1213, 1784, 1198, 5989, 8636, 926, 1207]
376 [1233, 1193, 904, 922, 1212, 4361, 1230, 4239, 2396, 1952]
396 [272, 497, 594, 150, 17, 440, 279, 161, 275, 520]
517 [527, 356, 47, 17, 253, 500, 595, 592, 231, 95]
414 [969, 4973, 1244, 953, 589, 28, 2962, 21, 4420, 4021]
436 [2019, 1233, 912, 919, 904, 1411, 608, 1283, 1224, 1206]
37 [1196, 3481, 2081, 4014, 364, 902, 3996, 2085, 4054, 3977]
40 [1196, 260, 79702, 49272, 109487, 44191, 51255, 122882, 106920, 33794]
275 [56782, 2959, 2542, 745, 3578, 59315, 1198, 97938, 3481, 1240]
616 [1, 32, 733, 832, 805, 141, 6, 1183, 140, 635]
42 [260, 59315, 1291, 109487, 2571, 106782, 134853, 349, 1097, 79132]
46 [81834, 89745, 3868, 5952, 7153, 88125, 59018, 91529, 2541, 2398]
103 [4973, 2858, 2571, 593, 47, 293, 8636, 1215, 1200, 6502]
344 [232, 296, 1196, 1136, 1263, 1203, 1247, 1214, 1200, 1201]
55 [260, 608, 376, 1073, 141, 708, 112, 95, 736, 724]
83 [908, 2300, 904, 1358, 3362, 1276, 3897, 1278, 235, 1060]
451 [2064, 1225, 2959, 581, 3996, 52, 1797, 4009, 1192, 1484]
542 [4993, 1221, 1704, 4886, 78499, 91529, 68954, 89745, 8368, 46578]
228 [1682, 1196, 1200, 2005, 1198, 4085, 2571, 1197, 2716, 1220]
325 [4085, 1022, 2694, 1339, 1371, 724]
281 [1193, 922, 296, 908, 1252, 1207, 919, 1250, 3468, 903]
638 [1223, 2359, 2391, 1019, 3148, 3354, 1882]
473 [76093, 1704, 356, 5377, 58559, 59315, 112852, 4306, 2571, 85414]
443 [318, 1196, 106782, 260, 65261, 89864, 6350, 104841]
18 [85, 17, 52, 805, 376, 780, 25, 640, 81, 748]
364 [1240, 47, 541, 109374, 26776, 56367, 26662, 3948, 106696, 109249]
170 [1272, 2144, 2355, 524, 2078, 616, 2723, 1373]
256 [32, 608, 25, 52, 376, 95, 5, 9]
478 [59315, 5995, 68157, 778, 80463, 1089, 4995, 293, 74458, 7361]
594 [296, 858, 527, 1196, 246, 2289, 1304, 1089, 1198, 2248]
329 [32, 1, 7, 95, 104, 3, 802, 653, 736]
320 [908, 318, 2858, 527, 912, 109487, 44191, 39183, 924, 4306]
352 [1213, 2918, 1196, 1732, 260, 91529, 61240, 1097, 2716, 3114]
293 [750, 5952, 1641, 1197, 1080, 2788, 1200, 1240, 594, 4306]
197 [1196, 750, 1215, 1240, 1356, 1376, 1527, 3638, 1019, 3703]
162 [36, 100, 736, 605, 7, 494, 650, 719]
204 [1230, 3996, 7438, 4306, 8838, 1374, 4700, 8899, 2011, 112]
389 [588, 380, 54, 238, 237, 339, 333, 253, 252, 208]
62 [111, 68157, 112552, 134130, 6016, 70286, 81591, 1210, 106920, 2028]
398 [1198, 2140, 3361, 2115, 2174, 1923, 3793, 3799, 3751, 2716]
272 [89745, 96079, 33794, 81847, 94777, 5218, 95510, 110553, 592, 4367]
420 [923, 1250, 1304, 1198, 903, 1193, 953, 1079, 1220, 593]
63 [1221, 720, 2959, 4306, 457, 5952, 1304, 2174, 3897, 3471]
483 [318, 112852, 260, 1196, 110, 293, 8874, 1259, 106100, 3702]
582 [899, 1196, 594, 1204, 5952, 3114, 1580, 2857, 2144, 6539]
370 [318, 953, 2959, 4226, 110, 1196, 527, 1673, 1261, 3578]
6 [1358, 2692, 8874, 1259, 5952, 1250, 596, 3751, 2657, 2001]
540 [4973, 7373, 5309, 4975, 34048]
164 [913, 111, 4027, 922, 954, 260, 1203, 1732, 296, 223]
322 [1968, 3952, 3386, 903, 3730, 1086, 924, 906, 3251, 2206]
515 [48516, 70286, 2804, 3386, 3246, 3275, 8827, 53125, 169, 273]
524 [296, 1206, 2997, 8368, 64957, 40815, 49272, 8874, 4896, 2596]
143 [318, 5669, 527, 1206, 1380, 30810, 3949, 353, 480, 4979]
11 [97938, 3424, 96079, 1408, 5669, 26614, 6598, 71211, 2042, 169]
411 [912, 527, 1221, 1196, 1219, 2762, 2439, 2541, 3076]
135 [10, 27, 747, 20, 18, 102, 818, 762]
516 [318, 232, 741, 47, 1079, 32, 555, 34, 161, 30]
633 [36, 440, 539, 587, 508, 21, 329, 500]
657 [318, 150, 380, 590, 592, 648, 344]
378 [2858, 296, 293, 318, 4226, 1089, 1258, 1193, 1333, 68157]
568 [300, 150, 377, 590, 595, 733, 316, 253, 231, 329]
507 [1210, 32, 36, 1, 832, 141, 62, 100, 376, 648]
511 [608, 296, 50, 246, 720, 235, 223, 36, 337, 293]
307 [1193, 527, 5995, 49530, 54286, 2959, 48394, 8950, 27831, 2329]
326 [1193, 919, 1210, 1197, 1259, 1580, 337, 1127, 3412, 2987]
383 [1198, 1357, 356, 1, 32, 29, 62, 1046, 1049, 34]
351 [858, 1207, 950, 4008, 94, 524, 4003, 3959, 3963, 3957]
586 [318, 7153, 1270, 527, 5952, 1196, 3386, 260, 6539, 1952]
372 [1278, 912, 265, 1172, 1066, 1307, 2935, 907, 2390, 2424]
217 [858, 2599, 110, 2115, 2028, 1610, 2000, 3098, 5500, 2502]
140 [1197, 318, 31658, 5618, 4306, 593, 4896, 81845, 4963, 72641]
189 [913, 1959, 2762, 3793, 3186, 2997, 1230, 1732, 608, 2712]
536 [318, 194, 47, 223, 233, 154, 555, 161, 39, 431]
121 [50, 296, 527, 593, 497, 307, 17, 223, 349, 300]
104 [318, 1196, 58559, 2571, 115617, 79132, 71135, 150, 293, 110]
276 [1215, 4085, 1408, 2804, 3213, 1129, 168, 673, 70]
400 [318, 356, 110, 590, 454, 595, 480, 596, 500, 592]
622 [1198, 58559, 593, 4993, 1234, 1704, 44191, 2571, 48394, 64614]
60 [745, 1221, 1208, 2324, 720, 111, 5952, 27773, 3018, 16]
132 [3000, 296, 2571, 44555, 2357, 72226, 68954, 8012, 6711, 2395]
435 [1196, 750, 1080, 1230, 1246, 778, 1566, 1425, 1722]
314 [318, 2542, 1196, 1270, 260, 50872, 122882, 112556, 480, 114935]
474 [2019, 858, 2300, 260, 951, 1221, 1198, 1219, 919, 3578]
280 [260, 838, 1639, 1094, 1393, 1183, 1408, 2006]
595 [2692, 318, 1213, 2396, 2324, 581, 1148, 1, 2971, 556]
477 [65982, 1027, 158, 1644, 37386, 5481, 3717, 193]
25 [260, 778, 608, 832, 1073, 780, 842, 802, 1405, 784]
642 [1079, 800, 1218, 1643, 950, 1084, 162, 1251, 549, 1649]
658 [356, 497, 1233, 2396, 58, 608, 1210, 111, 1617, 161]
631 [318, 1625, 47, 1183, 1689, 1722, 1686, 1687, 1597, 1438]
447 [318, 110, 300, 593, 235, 477, 150, 349, 339, 151]
670 [527, 32, 1923, 1245, 34]
153 [2959, 1259, 920, 2396, 2571, 3897, 1, 5952, 1277, 6093]
647 [608, 926, 1945, 1207, 1221, 1260, 1211, 745, 2973, 1617]
216 [1196, 2959, 1198, 1617, 1197, 1270, 1262, 4034, 7156, 551]
438 [296, 923, 48516, 1089, 92259, 109487, 1682, 99114]
166 [912, 3578, 1682, 293, 3897, 4886, 4223, 6333, 480, 785]
629 [364, 224, 34, 587, 610]
360 [47, 2571, 1732, 593, 924, 1953, 1240, 1097, 628, 111]
97 [296, 908, 1267, 50, 58559, 48516, 2571, 1213, 1219, 912]
369 [318, 527, 590, 509, 595, 588, 364, 2, 21, 454]
151 [50, 296, 457, 150, 357, 300, 509, 480, 539, 292]
274 [296, 608, 2959, 778, 1089, 293, 471, 1682, 3471, 22]
206 [1036, 1968, 1291, 1957, 1200, 1173, 1302, 1297, 592, 2054]
659 [858, 1222, 233, 1089, 1210, 36, 471, 265, 337, 509]
10 [1196, 1197, 318, 1200, 2108, 2926, 2841, 1101, 2344, 3005]
110 [356, 733, 345, 16, 266, 7, 466, 588, 237, 253]
349 [2542, 593, 1222, 3949, 4369, 3793, 1792, 4367, 4638, 3316]
116 [4993, 593, 5952, 4306, 260, 6539, 2890, 356, 1573, 153]
578 [1259, 2959, 2028, 1196, 92259, 79132, 17, 356, 74458, 63082]
539 [1704, 527, 1066, 2352, 326, 17, 3424, 3158, 3142, 46]
401 [1196, 1198, 1215, 2571, 1265, 1097, 1077, 924, 356, 3499]
493 [608, 497, 1252, 905, 1197, 2324, 2352, 3114, 1643, 3551]
618 [3462, 319, 2677, 4308, 3676, 4811, 4300, 2553, 2641]
238 [318, 1203, 104374, 356, 1682, 92259, 593, 57669, 50872, 56367]
315 [5952, 1253, 1278, 6060, 6003, 6183, 2109, 5880, 6014, 5954]
336 [527, 953, 912, 356, 4427, 4191, 919, 1084, 4486, 1372]
51 [2396, 1959, 2841, 2763, 2734, 1888, 2688, 2699, 2724, 2713]
361 [858, 52, 733, 32, 1183, 86, 1073, 748, 647, 640]
440 [589, 47, 353, 480, 595, 587, 225, 466, 367, 485]
338 [318, 356, 457, 515, 47, 36, 590, 161, 595, 265]
188 [527, 475, 671, 150, 1012, 364, 589, 594, 262, 661]
54 [3462, 48780, 78499, 8665, 2571, 48997, 96655, 77846, 69640, 2991]
31 [318, 50, 858, 58559, 55820, 778, 904, 4993, 541, 1957]
227 [2355, 2336, 2333, 2321, 2335, 2315, 2386, 2296, 2392]
448 [5952, 593, 356, 1198, 1291, 79132]
3 [318, 7153, 110, 6377, 2716, 1271, 2028, 1884, 595, 1235]
225 [589, 47, 592, 588, 454, 253, 231, 724, 153]
570 [1213, 116797, 1258, 457, 608, 1198, 58559, 2268, 4901, 2028]
296 [1223, 4973, 4306, 3396, 833]
5 [4995, 150, 30749, 2273, 1784, 1968, 2023, 39, 3408, 4022]
567 [858, 48516, 1213, 4011, 1208, 4878, 1206, 1265, 1175, 589]
390 [1221, 1304, 1270, 1, 608, 1527, 457, 62, 991, 1242]
194 [32, 590, 150, 353, 377, 592, 253, 780, 204, 317]
330 [318, 994, 899, 1172, 2467, 246, 1028, 589, 1249, 593]
446 [7153, 70286, 87232, 5445, 111759, 8644, 120466, 63992]
319 [356, 593, 480, 380, 196]
237 [1210, 1285, 1196, 260, 5952, 32, 1408, 1320, 2657, 198]
549 [318, 1221, 50, 3019, 671, 2716, 3740]
147 [296, 2692, 4011, 2324, 4306, 3949, 8873, 1665, 2686, 2116]
328 [318, 1207, 899, 1197, 1136, 8961, 1617, 356, 1291, 3363]
20 [912, 527, 745, 750, 4993, 905, 296, 7153, 1960, 904]
305 [307, 296, 541, 1580, 1097, 164, 480, 1125, 2943, 1783]
454 [50, 1221, 2542, 608, 1193, 296, 92259, 6016, 593, 2028]
39 [593, 50, 162, 73, 353, 588, 170, 553, 648, 592]
301 [262, 1429, 68848, 3148, 68554, 4214, 2471, 2088]
173 [260, 6, 780, 1542, 62, 832, 1552, 494, 799, 100]
246 [2028, 1580, 2916, 1907, 3015, 1544, 421, 552, 455]
588 [50, 318, 527, 475, 1036, 300, 428, 161, 733, 590]
406 [3462, 923, 5971, 1228, 541, 7153, 68954, 26662, 5475, 1]
252 [494, 25, 830, 648, 743, 104, 653, 788, 761, 135]
583 [858, 109487, 1221, 2959, 58559, 1704, 54503]
623 [527, 296, 48516, 6016, 2542, 2858, 8961, 4011, 4878, 7361]
209 [555, 2395, 163, 802, 466, 2406, 543, 2699, 172, 552]
255 [58559, 2858, 923, 953, 7153, 49272, 54001, 3742, 6711, 32587]
639 [296, 111, 246, 299, 300, 364, 110, 588, 161, 231]
643 [318, 260, 204, 1385, 5541, 4673, 4701, 1918, 2379]
538 [150, 1, 509, 595, 288, 207, 316, 185]
459 [628, 32, 733, 7, 95, 3, 135]
653 [457, 2125, 1197, 1, 539, 3176, 986, 588, 2083, 595]
136 [953, 912, 4993, 4886, 34332, 1, 4306, 595, 588, 2926]
156 [48516, 56367, 69481, 36, 2395, 72226, 3101, 4239, 8533, 77561]
552 [1079, 356, 508, 377, 588, 590, 466, 165, 718, 305]
269 [1617, 1183, 1584, 1683, 1057, 1721, 1597, 1711, 1676]
521 [4993, 1172, 904, 608, 1198, 471, 1282, 1275, 1597, 376]
590 [318, 6, 293, 47, 337, 353, 440, 780, 480, 590]
233 [608, 17, 58, 780, 1427, 1049, 648, 832, 141, 612]
340 [858, 4993, 296, 5952, 7360, 364, 356, 3681, 2951, 102125]
260 [1704, 590, 3578, 6539, 45722, 4022, 6711, 1620, 1981, 3249]
421 [593, 300, 265, 293, 39, 261, 266, 364, 11, 480]
323 [858, 4973, 912, 1250, 4995, 4034, 3176, 225, 2006, 236]
593 [307, 457, 589, 150, 353, 616, 25, 141, 380, 531]
415 [457, 161, 292, 380, 434, 736, 185]
184 [589, 457, 593, 246, 377, 431, 180, 474, 334, 231]
512 [318, 48780, 1198, 3578, 5064, 6942, 2115, 60069, 69122, 84152]
141 [318, 2571, 2028, 3916, 349, 1693, 480, 3623, 4022, 1876]
513 [356, 480, 151, 344, 208]
53 [2997, 2761, 1610, 3114, 2093, 238, 392, 3160, 3107, 1772]
661 [318, 1259, 1704, 3198, 1077, 1296, 2352, 6104, 3552]
59 [50, 745, 6787, 296, 2797, 1148, 1968, 590, 150, 2329]
429 [2858, 4226, 4993, 2329, 4973, 1350]
476 [111, 1198, 2858, 1097, 2987, 2396, 3160, 16, 2762, 1093]
347 [858, 1196, 5952, 778, 6539]
337 [541, 260, 1200, 1356, 1345, 891, 1969]
357 [745, 272, 32, 223, 58, 588, 161, 203, 595, 249]
183 [318, 2692, 1196, 1193, 2542, 1199, 593, 2762, 924, 1046]
571 [2858, 2329, 6502, 2572, 150, 4238, 27660, 47518, 54997, 55765]
82 [39, 300, 110, 595, 150, 34, 339, 165, 454, 10]
343 [858, 32, 81, 1407, 25, 1006, 1485]
302 [457, 590, 1084, 480, 509, 357, 594, 596, 165, 316]
155 [1196, 1197, 750, 912, 2571, 1200, 1965, 1957, 2916, 2028]
640 [608, 1357, 116, 62, 1398, 648, 780, 1183, 104, 631]
409 [296, 307, 319, 348, 110, 306, 431, 417, 265, 590]
127 [480, 380, 597, 236, 135, 193]
179 [4226, 56367, 49272, 1682, 69757, 6539, 46976, 80693, 8368, 8972]
464 [260, 62, 588, 10, 592, 257, 165, 204, 610, 344]
317 [592, 595, 292, 153]
348 [1233, 1682, 3089, 1213, 1193, 1207, 32, 296, 778, 1952]
651 [1250, 1907, 2671, 2145]
27 [50, 1704, 73, 296, 2712, 593, 2762, 2501, 1343]
365 [8961, 7153, 1103, 909, 1947, 3635, 2352, 1345, 40819, 4994]
600 [106782, 116797, 50872, 76093, 79132, 6377, 104841, 104374, 90866]
498 [1136, 1197, 2918, 1569, 588, 5459, 1544]
650 [86, 140, 704, 105, 637, 15, 4]
126 [593, 471, 58, 368, 377, 551, 440, 480, 596, 474]
635 [2959, 608, 593, 111, 8874, 1222, 1485]
386 [527, 2959, 2318, 111, 4878, 920, 431, 1120, 25, 2712]
545 [1193, 1172, 1961, 608, 300, 1704, 2313, 2290, 2712, 2114]
226 [64716, 62081, 3301, 6942, 50804, 2340, 673]
74 [1704, 1080, 1097, 16, 2700, 2333, 592, 1584, 104, 2002]
180 [223, 1197, 1240, 1265, 2700, 2987, 2541, 2013, 2581]
391 [1204, 1641, 319, 1225, 1172, 1254, 1207, 1293, 1224, 1263]
16 [6016, 1961, 1653, 4738, 7346, 4246, 2539, 3623]
526 [79132, 85414, 4995, 8368, 7153, 6333, 50872, 88744, 8644, 4370]
249 [593, 357, 337, 480, 597, 590, 500, 231, 153, 367]
557 [588, 7293, 934, 2142, 7541, 27075, 239, 4386, 1021, 2123]
630 [1252, 908, 356, 904, 4262]
129 [1611, 3618, 3598, 3691, 3745, 3793, 3616, 3615, 3624, 2163]
122 [497, 296, 28, 356, 73, 529, 349, 380, 339, 165]
462 [2324, 1580, 1265, 1500, 1625, 1923, 1396, 2108, 2671, 2353]
137 [296, 260, 50, 898, 1200, 2858, 2918, 5060, 531, 1292]
663 [356, 122882, 122900, 134368, 111781, 135861, 117529]
334 [778, 116797, 356, 79132, 2571, 99114, 6874, 68954, 115713, 2355]
606 [858, 1221, 1219, 175, 6874, 2571, 2863, 1285, 72226, 235]
359 [858, 912, 2858, 2959, 922, 590, 6385, 6235, 3258]
210 [1968, 1307, 524, 1394, 6365, 2461, 539, 432]
368 [3175, 1073, 3429, 2581, 3101, 1377, 2724]
374 [1961, 4886, 3252, 5927, 5225, 5293, 5324, 3614, 5151, 5312]
485 [3006, 8823, 105, 3717]
106 [58559, 3210, 4886, 2762, 2395, 60069, 3786, 39408, 5296]
503 [912, 858, 953, 593, 4993, 1196, 89745, 260, 76093, 78499]
445 [296, 2004, 2384, 4874, 502, 4270, 2380]
484 [1073, 640, 3, 65]
289 [69757, 68135, 1296, 6565, 2687, 1125, 837, 1033, 7444, 1713]
403 [1258, 1215, 1387, 1343, 247, 1, 1333, 1261, 188, 1348]
71 [1617, 1259, 1957, 3481, 1673, 589]
318 [1210, 991, 1041, 733, 608, 1057, 996, 783, 1133, 782]
65 [858, 260, 2289, 1299, 1952, 1230, 920, 1238, 1256, 1956]
399 [509, 481, 480, 597, 10]
375 [356, 457, 349, 589, 595, 454, 329, 231, 165, 253]
490 [1, 6, 36, 648, 14, 112]
45 [899, 2692, 903, 1673, 3307]
566 [318, 58559, 89745, 1792, 4255]
581 [750, 2191, 7312, 5413, 5864, 32153, 7283, 3617, 1642, 65802]
356 [994, 1222, 2360, 2231, 2501, 2707, 361, 8133, 2145]
112 [6, 1356, 95, 648, 708]
377 [52975, 54272, 934, 4899, 44225, 4980, 54004, 53993]
64 [593, 595, 349, 329, 592, 344]
637 [32, 3361, 2746, 3107, 135, 1409, 849]
591 [953, 3088, 1097, 2987, 2321, 5060, 596, 2006, 48]
114 [593, 356, 349, 590, 339, 208, 586, 153]
632 [58559, 2959, 68157, 8961, 33794, 780, 2948, 69640, 480, 3555]
404 [1287, 5470, 2023, 5337, 4865, 1446, 5382, 5349, 216, 1457]
14 [3114, 594, 2355, 2716, 3623, 3157, 3354]
144 [296, 457, 349, 593, 39, 553, 377, 480, 592, 329]
601 [58559, 70286, 4878, 63082, 48774, 6283, 5294, 2605, 3755]
1 [1293, 1172, 1129, 1405, 2455, 1371]
444 [3967, 3984, 4000, 3987]
565 [994, 2359, 150, 337, 589, 3100, 2826]
24 [36, 356, 590, 380, 588]
341 [1267, 1172, 1272]
310 [1285, 1375, 256]
645 [596, 3176, 543, 2012, 6263]
413 [733, 1073, 708, 494]
259 [541, 2396, 2997, 1097, 1210, 1189, 785]
437 [440, 150, 48, 208]
604 [32, 2278, 3256, 2949, 2990, 2953]
221 [16, 1917, 1485, 315]

In [16]:
top_n[515]

[(48516, 4.602314507027896),
 (70286, 4.5372254958182925),
 (2804, 4.38298495713748),
 (3386, 4.350281306956536),
 (3246, 4.318912263418754),
 (3275, 4.2379702891274995),
 (8827, 4.0432662888209245),
 (53125, 3.796329959206197),
 (169, 3.768941592111123),
 (273, 3.7406592903604063)]

# Hybrid Recommender
In Hybrid Recommeder, we combine both content based filter and user-based collaborative filtering into another recommender. First, we generate a list of movies that are top rated based on movies title that a user selected. Then, we apply prediction to the set of top rated movies that the user might like to watch by giving predicted rating for each top rated movies.

In [21]:
def get_user_based_recommedation_by_title(uid, title):
    movie_lst = get_recommended_movies_by_title(title)
    rec_df = md[md.index.isin(movie_lst)][['id', 'title']]
    rec_df['est_rating'] = rec_df['id'].apply(lambda x: algo.predict(uid, x).est)
    rec_df = rec_df.sort_values('est_rating', ascending=False)
    # comment to show estimated rating for the df
    # print(rec_df) 
    return rec_df.id

In [23]:
movie_lst = get_user_based_recommedation_by_title(800,'The Matrix')
rec_df = md[md.id.isin(movie_lst)]
rec_df[['title', 'vote_count', 'vote_average', 'id']]

id                                              title  est_rating
167     10428                                            Hackers    3.548695
602      8766                              Hellraiser: Bloodline    3.548695
43670   24959                                            Program    3.548695
43669   24914                                        Kid's Story    3.548695
43665   24960                                       World Record    3.548695
43663   24660                                  A Detective Story    3.548695
41235   29333                             Murder in a Blue World    3.548695
41127  210052                                        Wolfskinder    3.548695
34933    1877                                     Doctor Mordrid    3.548695
33545  281826                                          Algorithm    3.548695
29990   51604                                     The Rain Fairy    3.548695
28419  265712                               Stand by Me Doraemon    3.548695
27294   34205                Halloweentown II: Kalabar's Revenge    3.548695
26278   44663                                       Moscow Chill    3.548695
25641  259912                                      Memed My Hawk    3.548695
25115   17135                                         Omega Doom    3.548695
24017  284427                                           Who Am I    3.548695
23555   71704                                          Air Panic    3.548695
22616  157834                                   The Zero Theorem    3.548695
20561  136698              Underground: The Julian Assange Story    3.548695
14479   19995                                             Avatar    3.548695
13821   16911                               The Inhabited Island    3.548695
12756   14154                           War Games: The Dead Code    3.548695
10758    9682                                              Pulse    3.548695
9323    55931                                      The Animatrix    3.548695
9110    10429                                           Takedown    3.548695
6478    10999                                           Commando    3.548695
3057    10384                                          Supernova    3.548695
44350  296834  An Alternative Reality: The Football Manager D...    3.548695
1340     2322                                           Sneakers    3.366758

,title,vote_count,vote_average,id
167,Hackers,406.0,6.2,10428
602,Hellraiser: Bloodline,111.0,4.9,8766
1340,Sneakers,301.0,6.7,2322
3057,Supernova,109.0,4.9,10384
6478,Commando,753.0,6.4,10999
9110,Takedown,56.0,6.3,10429
9323,The Animatrix,433.0,6.9,55931
10758,Pulse,154.0,5.0,9682
12756,War Games: The Dead Code,47.0,5.1,14154
13821,The Inhabited Island,24.0,5.4,16911
14479,Avatar,12114.0,7.2,19995
20561,Underground: The Julian Assange Story,18.0,5.8,136698
22616,The Zero Theorem,383.0,5.9,157834
23555,Air Panic,11.0,4.1,71704
24017,Who Am I,430.0,7.6,284427
25115,Omega Doom,20.0,4.3,17135
25641,Memed My Hawk,1.0,5.0,259912
26278,Moscow Chill,5.0,3.5,44663
27294,Halloweentown II: Kalabar's Revenge,62.0,6.3,34205
28419,Stand by Me Doraemon,103.0,7.0,265712
29990,The Rain Fairy,2.0,4.5,51604
33545,Algorithm,10.0,5.4,281826
34933,Doctor Mordrid,9.0,6.1,1877
41127,Wolfskinder,5.0,7.1,210052
41235,Murder in a Blue World,3.0,4.2,29333
43663,A Detective Story,30.0,7.2,24660
43665,World Record,28.0,7.1,24960
43669,Kid's Story,37.0,7.2,24914
43670,Program,26.0,6.9,24959
44350,An Alternative Reality: The Football Manager D...,2.0,6.5,296834

In [22]:
movie_lst = get_user_based_recommedation_by_title(1,'Avatar')
rec_df = md[md.id.isin(movie_lst)]
rec_df[['title', 'vote_count', 'vote_average', 'id']]

id                                       title  est_rating
2444      603                                  The Matrix    2.943148
602      8766                       Hellraiser: Bloodline    2.837423
35368  132873                        Die Mondverschwörung    2.837423
35336  111480               OSS 117: Mission for a Killer    2.837423
33339  334394                                      Baskin    2.837423
32657  331592                                   Listening    2.837423
29891   13179                                 Tinker Bell    2.837423
29747   61803                                   Shakedown    2.837423
28419  265712                        Stand by Me Doraemon    2.837423
27300   48841           Vengeance: The Story of Tony Cimo    2.837423
27270  196255                             Gregory Go Boom    2.837423
23454   89187                              Beware of Pity    2.837423
22600  422906                       The Wizard of Baghdad    2.837423
21420   49802              The Secret of the Third Planet    2.837423
19809   61591                   Welcome to the Space Show    2.837423
18326   50357                                   Apollo 18    2.837423
17894  113105                       The War of the Robots    2.837423
15984  114096                               Bloodbrothers    2.837423
15627   27579                                The American    2.837423
14818   22972                                  Green Zone    2.837423
13821   16911                        The Inhabited Island    2.837423
9028    63054                                    Fetishes    2.837423
6044     9567                            Tears of the Sun    2.837423
4590     8922                            Jeepers Creepers    2.837423
3638    26270                           Project Moon Base    2.837423
3633    16096                               House Party 2    2.837423
3517    38688             Pandora and the Flying Dutchman    2.837423
3057    10384                                   Supernova    2.837423
35771  279096                                  Lazer Team    2.837423
6378     1996  Lara Croft Tomb Raider: The Cradle of Life    2.525451

,title,vote_count,vote_average,id
602,Hellraiser: Bloodline,111.0,4.9,8766
2444,The Matrix,9079.0,7.9,603
3057,Supernova,109.0,4.9,10384
3517,Pandora and the Flying Dutchman,19.0,6.5,38688
3633,House Party 2,22.0,4.7,16096
3638,Project Moon Base,4.0,2.5,26270
4590,Jeepers Creepers,731.0,6.1,8922
6044,Tears of the Sun,582.0,6.4,9567
6378,Lara Croft Tomb Raider: The Cradle of Life,1443.0,5.5,1996
9028,Fetishes,10.0,5.1,63054
13821,The Inhabited Island,24.0,5.4,16911
14818,Green Zone,730.0,6.4,22972
15627,The American,488.0,5.8,27579
15984,Bloodbrothers,4.0,6.1,114096
17894,The War of the Robots,2.0,2.5,113105
18326,Apollo 18,359.0,5.0,50357
19809,Welcome to the Space Show,18.0,6.2,61591
21420,The Secret of the Third Planet,18.0,5.9,49802
22600,The Wizard of Baghdad,0.0,0.0,422906
23454,Beware of Pity,4.0,4.5,89187
27270,Gregory Go Boom,4.0,6.3,196255
27300,Vengeance: The Story of Tony Cimo,1.0,4.8,48841
28419,Stand by Me Doraemon,103.0,7.0,265712
29747,Shakedown,2.0,3.0,61803
29891,Tinker Bell,319.0,6.5,13179
32657,Listening,31.0,5.5,331592
33339,Baskin,73.0,5.8,334394
35336,OSS 117: Mission for a Killer,2.0,8.5,111480
35368,Die Mondverschwörung,7.0,7.6,132873
35771,Lazer Team,103.0,5.7,279096