In [1]:
import movies

In [2]:
rec = movies.Recommender()

INFO:movies:populating move and rating data...
INFO:movies:complete initializing recommender object...

In [4]:
rec.save_ml_objects()

In [3]:
rec.load_ml_objects()

INFO:movies:found ml_objects.pkl, loading from file...
INFO:movies:finish loading ml_objects.pkl.

In [13]:
if not rec.genres and not rec.cosine_similarity_matrix and not rec.cf_top_ten_prediction_matrix and not rec.algo:
    print("all empty")
else:
    print('no')

no

In [7]:
import os.path
os.path.exists('movies.py')

True

In [3]:
rec.start_recommender_engine()

INFO:movies:starting cb engine...
INFO:movies:starting cf engine...

In [4]:
rec.get_movie_list_df_by_ids([862, 807, 11, 680, 13])

      id         title release_date
0    862     Toy Story   1995-10-30
46   807         Se7en   1995-09-22
255   11     Star Wars   1977-05-25
291  680  Pulp Fiction   1994-09-10
350   13  Forrest Gump   1994-07-06

In [5]:
b = rec.get_movie_id_by_title('Star Wars')
b

255    11
Name: id, dtype: int64

In [6]:
rec.get_movie_list_df_by_ids(b)

     id      title release_date
255  11  Star Wars   1977-05-25

In [7]:
rec.print_movie_list_by_ids([862])

id      title release_date
0  862  Toy Story   1995-10-30

In [8]:
rec.print_genres()

None

In [9]:
rec.print_topchart()

id                    title release_date
0         862                Toy Story   1995-10-30
46        807                    Se7en   1995-09-22
255        11                Star Wars   1977-05-25
288       101   Leon: The Professional   1994-09-14
291       680             Pulp Fiction   1994-09-10
...       ...                      ...          ...
41053  381288                    Split   2016-11-15
41096  274870               Passengers   2016-12-21
41720  263115                    Logan   2017-02-28
41771  321612     Beauty and the Beast   2017-03-16
42784  337339  The Fate of the Furious   2017-04-12

[225 rows x 3 columns]

In [10]:
rec.list_topchart()

           id                    title release_date
0         862                Toy Story   1995-10-30
46        807                    Se7en   1995-09-22
255        11                Star Wars   1977-05-25
288       101   Leon: The Professional   1994-09-14
291       680             Pulp Fiction   1994-09-10
...       ...                      ...          ...
41053  381288                    Split   2016-11-15
41096  274870               Passengers   2016-12-21
41720  263115                    Logan   2017-02-28
41771  321612     Beauty and the Beast   2017-03-16
42784  337339  The Fate of the Furious   2017-04-12

[225 rows x 3 columns]

In [11]:
rec.print_topchart('Romance')

id                                  title release_date
350        13                           Forrest Gump   1994-07-06
580       812                                Aladdin   1992-11-25
1628      597                                Titanic   1997-11-18
2165      162                    Edward Scissorhands   1990-12-05
7168       38  Eternal Sunshine of the Spotless Mind   2004-03-19
13071    8966                               Twilight   2008-11-20
19598   82693                Silver Linings Playbook   2012-09-08
20762   64682                       The Great Gatsby   2013-05-10
22003  152601                                    Her   2013-12-18
23262  102651                             Maleficent   2014-05-28
23337  222935                 The Fault in Our Stars   2014-05-16
40458  313369                             La La Land   2016-11-29
41096  274870                             Passengers   2016-12-21
41771  321612                   Beauty and the Beast   2017-03-16

In [12]:
rec.list_topchart('Romance')

           id                                  title release_date
350        13                           Forrest Gump   1994-07-06
580       812                                Aladdin   1992-11-25
1628      597                                Titanic   1997-11-18
2165      162                    Edward Scissorhands   1990-12-05
7168       38  Eternal Sunshine of the Spotless Mind   2004-03-19
13071    8966                               Twilight   2008-11-20
19598   82693                Silver Linings Playbook   2012-09-08
20762   64682                       The Great Gatsby   2013-05-10
22003  152601                                    Her   2013-12-18
23262  102651                             Maleficent   2014-05-28
23337  222935                 The Fault in Our Stars   2014-05-16
40458  313369                             La La Land   2016-11-29
41096  274870                             Passengers   2016-12-21
41771  321612                   Beauty and the Beast   2017-03-16

In [13]:
movie_title = 'The Godfather'
rec.print_cb_recommender_by_title(movie_title)

Recommended these movies if you like : The Godfather
           id                             title release_date
1171      240            The Godfather: Part II   1974-12-20
4300    15745                              Made   2001-07-13
10764   18747                          Election   2005-05-14
11239  119907                  Household Saints   1993-09-15
18206   48153                   The Outside Man   1972-12-21
21458  112205                        The Family   2013-09-13
22952  190955                        Blood Ties   2013-08-22
31693   95892                  Honor Thy Father   1973-03-01
37660  135335          A Mother Should Be Loved   1934-05-11
43540  364150  The Godfather Trilogy: 1972-1990   1992-10-17

In [14]:
rec.list_cb_recommender_by_title(movie_title)

           id                             title release_date
1171      240            The Godfather: Part II   1974-12-20
4300    15745                              Made   2001-07-13
10764   18747                          Election   2005-05-14
11239  119907                  Household Saints   1993-09-15
18206   48153                   The Outside Man   1972-12-21
21458  112205                        The Family   2013-09-13
22952  190955                        Blood Ties   2013-08-22
31693   95892                  Honor Thy Father   1973-03-01
37660  135335          A Mother Should Be Loved   1934-05-11
43540  364150  The Godfather Trilogy: 1972-1990   1992-10-17

In [15]:
movie_title = 'The Dark Knight Rises'
rec.print_cb_recommender_by_title(movie_title)

Recommended these movies if you like : The Dark Knight Rises
          id                                              title release_date
150      414                                     Batman Forever   1995-06-16
584      268                                             Batman   1989-06-23
1321     364                                     Batman Returns   1992-06-19
3079   14919                       Batman: Mask of the Phantasm   1993-12-25
9181   16234                 Batman Beyond: Return of the Joker   2000-12-12
12421    155                                    The Dark Knight   2008-07-16
15433  40662                         Batman: Under the Red Hood   2010-07-27
21042  29751  Batman Unmasked: The Psychology of the Dark Kn...   2008-07-15
21247  21683                    Batman: Mystery of the Batwoman   2003-10-21
25074  20077                                  Batman vs Dracula   2005-10-18

In [16]:
rec.list_cb_recommender_by_title(movie_title)

          id                                              title release_date
150      414                                     Batman Forever   1995-06-16
584      268                                             Batman   1989-06-23
1321     364                                     Batman Returns   1992-06-19
3079   14919                       Batman: Mask of the Phantasm   1993-12-25
9181   16234                 Batman Beyond: Return of the Joker   2000-12-12
12421    155                                    The Dark Knight   2008-07-16
15433  40662                         Batman: Under the Red Hood   2010-07-27
21042  29751  Batman Unmasked: The Psychology of the Dark Kn...   2008-07-15
21247  21683                    Batman: Mystery of the Batwoman   2003-10-21
25074  20077                                  Batman vs Dracula   2005-10-18

In [17]:
uid = 1
rec.print_cf_recommender_by_uid(uid)

For User:  1
Movies that this user rated before:
         id                           title release_date
2284   1371                       Rocky III   1982-05-28
2577   2105                    American Pie   1999-07-09
3197   2193                        My Tutor   1983-03-04
4580   2294  Jay and Silent Bob Strike Back   2001-08-22
8265   1405                           Greed   1924-12-04
10664  2455            Confidentially Yours   1983-08-10

Moives that this user may like:
         id                     title release_date
3042    926              Galaxy Quest   1999-12-23
4000    318  The Million Dollar Hotel   2000-02-09
5298    608           Men in Black II   2002-07-03
6108   6016            The Good Thief   2003-04-03
11094  1948                     Crank   2006-08-31

In [18]:
rec.list_cf_user_rated_list_by_uid(uid)

         id                           title release_date
2284   1371                       Rocky III   1982-05-28
2577   2105                    American Pie   1999-07-09
3197   2193                        My Tutor   1983-03-04
4580   2294  Jay and Silent Bob Strike Back   2001-08-22
8265   1405                           Greed   1924-12-04
10664  2455            Confidentially Yours   1983-08-10

In [19]:
rec.list_cf_recommender_by_uid(uid)

         id                     title release_date
3042    926              Galaxy Quest   1999-12-23
4000    318  The Million Dollar Hotel   2000-02-09
5298    608           Men in Black II   2002-07-03
6108   6016            The Good Thief   2003-04-03
11094  1948                     Crank   2006-08-31

In [20]:
title = 'Avatar'
uid = 1
rec.print_hybrid_recommender(uid,title)

Hi, user#:  1
Based on your ranking history and that you are watching this movie:
Avatar

We think you might like these:
           id                                       title release_date
602      8766                       Hellraiser: Bloodline   1996-03-08
2444      603                                  The Matrix   1999-03-30
3057    10384                                   Supernova   2000-01-14
3517    38688             Pandora and the Flying Dutchman   1951-02-15
3633    16096                               House Party 2   1991-10-23
3638    26270                           Project Moon Base   1953-09-04
4590     8922                            Jeepers Creepers   2001-07-01
6044     9567                            Tears of the Sun   2003-03-07
6378     1996  Lara Croft Tomb Raider: The Cradle of Life   2003-07-21
9028    63054                                    Fetishes   1996-09-12
13821   16911                        The Inhabited Island   2008-12-18
14818   22972                                  Green Zone   2010-03-11
15627   27579                                The American   2010-08-31
15984  114096                               Bloodbrothers   1978-09-28
17894  113105                       The War of the Robots   1978-01-01
18326   50357                                   Apollo 18   2011-07-20
19809   61591                   Welcome to the Space Show   2010-02-18
21420   49802              The Secret of the Third Planet   1981-01-01
22600  422906                       The Wizard of Baghdad   1961-03-03
23454   89187                              Beware of Pity   1946-07-22
27270  196255                             Gregory Go Boom   2013-05-22
27300   48841           Vengeance: The Story of Tony Cimo   1986-11-01
28419  265712                        Stand by Me Doraemon   2014-08-08
29747   61803                                   Shakedown   2002-12-24
29891   13179                                 Tinker Bell   2008-10-27
32657  331592                                   Listening   2015-09-11
33339  334394                                      Baskin   2015-12-31
35336  111480               OSS 117: Mission for a Killer   1965-07-02
35368  132873                        Die Mondverschwörung   2011-04-21
35771  279096                                  Lazer Team   2016-01-27

In [21]:
rec.list_hybrid_recommender(uid, title)

           id                                       title release_date
602      8766                       Hellraiser: Bloodline   1996-03-08
2444      603                                  The Matrix   1999-03-30
3057    10384                                   Supernova   2000-01-14
3517    38688             Pandora and the Flying Dutchman   1951-02-15
3633    16096                               House Party 2   1991-10-23
3638    26270                           Project Moon Base   1953-09-04
4590     8922                            Jeepers Creepers   2001-07-01
6044     9567                            Tears of the Sun   2003-03-07
6378     1996  Lara Croft Tomb Raider: The Cradle of Life   2003-07-21
9028    63054                                    Fetishes   1996-09-12
13821   16911                        The Inhabited Island   2008-12-18
14818   22972                                  Green Zone   2010-03-11
15627   27579                                The American   2010-08-31
15984  114096                               Bloodbrothers   1978-09-28
17894  113105                       The War of the Robots   1978-01-01
18326   50357                                   Apollo 18   2011-07-20
19809   61591                   Welcome to the Space Show   2010-02-18
21420   49802              The Secret of the Third Planet   1981-01-01
22600  422906                       The Wizard of Baghdad   1961-03-03
23454   89187                              Beware of Pity   1946-07-22
27270  196255                             Gregory Go Boom   2013-05-22
27300   48841           Vengeance: The Story of Tony Cimo   1986-11-01
28419  265712                        Stand by Me Doraemon   2014-08-08
29747   61803                                   Shakedown   2002-12-24
29891   13179                                 Tinker Bell   2008-10-27
32657  331592                                   Listening   2015-09-11
33339  334394                                      Baskin   2015-12-31
35336  111480               OSS 117: Mission for a Killer   1965-07-02
35368  132873                        Die Mondverschwörung   2011-04-21
35771  279096                                  Lazer Team   2016-01-27

In [32]:
c = rec.get_movie_id_by_title('asdf')
if not len(c):
    print("nothing")
else:
    print("something")
c

nothing

[]