In [1]:
from spammer import SpamIdentifier

In [2]:
spam = SpamIdentifier()

INFO:spammer:starting spam id engine...
INFO:spammer:Building Train/Test split from spam data...
INFO:spammer:Vectorizing Training Set...
INFO:spammer:Vectorizing Test Set...
INFO:spammer:Fitting Linear SVC Model...
INFO:spammer:Finalizing Vectorizer, Linear SVC Accuracy: 0.9899497487437185
INFO:spammer:completing spam id engine...

In [3]:
spam.spam_data

,Unnamed: 0,label,text,spam,length,filtered_text
0,0,ham,"Go until jurong point, crazy.. Available only ...",0,111,go jurong point crazy available bugis n great ...
1,1,ham,Ok lar... Joking wif u oni...,0,29,ok lar joking wif u oni
2,2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,1,155,free entry 2 wkly comp win fa cup final tkts 2...
3,3,ham,U dun say so early hor... U c already then say...,0,49,u dun say early hor u c already say
4,4,ham,"Nah I don't think he goes to usf, he lives aro...",0,61,nah dont think goes usf lives around though
...,...,...,...,...,...,...
5567,5567,spam,This is the 2nd time we have tried 2 contact u...,1,161,2nd time tried 2 contact u u Ã¥Â£750 pound pri...
5568,5568,ham,Will Ã_ b going to esplanade fr home?,0,37,Ã¬ b going esplanade fr home
5569,5569,ham,"Pity, * was in mood for that. So...any other s...",0,57,pity mood soany suggestions
5570,5570,ham,The guy did some bitching but I acted like i'd...,0,125,guy bitching acted like id interested buying s...
5571,5571,ham,Rofl. Its true to its name,0,26,rofl true name

In [4]:
# spam.save_ml_objects()

In [5]:
# spam.load_ml_objects()

In [6]:
# spam.start_spam_id_engine()

In [7]:
spam.get_sample_ham()

                                                   text
4932                             Once free call me sir.
2369  A Boy loved a gal. He propsd bt she didnt mind...
2870  I actually did for the first time in a while. ...
283                                             Okie...
1382  Its ok my arm is feeling weak cuz i got a shot...

In [8]:
spam.get_sample_spam()

                                                   text
5196  Spook up your mob with a Halloween collection ...
4408  For your chance to WIN a FREE Bluetooth Headse...
3966  YOU HAVE WON! As a valued Vodafone customer ou...
1228  FREE entry into our Ã¥Â£250 weekly comp just s...
3895  tells u 2 call 09066358152 to claim Ã¥Â£5000 p...

In [9]:
# spam.start_vectorizer()

In [10]:
print(spam.spam_data['text'][0])
print(spam.spam_data['filtered_text'][0])

Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
go jurong point crazy available bugis n great world la e buffet cine got amore wat

In [11]:
spam.build_model()

INFO:spammer:Building Train/Test split from spam data...
INFO:spammer:Vectorizing Training Set...
INFO:spammer:Vectorizing Test Set...
INFO:spammer:Fitting Linear SVC Model...
INFO:spammer:Finalizing Vectorizer, Linear SVC Accuracy: 0.9892318736539842

In [12]:
spam.identify_message('Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...')

array([0])

In [13]:
good = spam.spam_data[spam.spam_data['label'] == 'ham'].sample(1)
good

,Unnamed: 0,label,text,spam,length,filtered_text
327,327,ham,"I'd say that's a good sign but, well, you know...",0,79,id say thats good sign well know track record ...

In [14]:
bad = spam.spam_data[spam.spam_data['label'] == 'spam'].sample(1)
bad

,Unnamed: 0,label,text,spam,length,filtered_text
4904,4904,spam,Warner Village 83118 C Colin Farrell in SWAT t...,1,181,warner village 83118 c colin farrell swat wken...

In [15]:
spam.identify_message(good.text)

array([0])

In [16]:
spam.identify_message(bad.text)

array([1])

In [17]:
result = spam.identify_message(bad.text)

In [23]:
a = result.tolist()

In [25]:
a[0]

1